<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egco428.a23264">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Assignment"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".Mainpage2Activity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBo1iXQne2r1UVQl9izft34yN4wH36WKA0" />
        <activity
            android:name=".MapsActivity"
            android:label="Maps">
        </activity>

    </application>

</manifest>